*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.navbar{
    background:white;
    height:90px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0 60px;
}

.logo img{
    height:90px;
}

.nav-links{
    display:flex;
    list-style:none;
    gap:45px;
}

.nav-links a{
    text-decoration:none;
    color:black;
    font-size:18px;
    font-weight:bold;
    font-family:Arial, sans-serif;
}

.nav-links a.active{
    color:black;
}

.nav-links a:hover{
    color:black;
}

.dropdown{
    position: relative;
}

.dropdown-content{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: white;
    min-width: 280px;
    list-style: none;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
    overflow: hidden;
    z-index: 1000;
}

.dropdown-content li a{
    display: block;
    padding: 15px 22px;
    text-decoration: none;
    color: #002053;
    font-size: 17px;
    font-family: "Trebuchet MS", Arial, sans-serif;
    font-weight: 600;
    letter-spacing: 0.5px;
    transition: all 0.3s ease;
}

.dropdown-content li a:hover{
    background: #002053;
    color: white;
    padding-left: 30px;
}

.dropdown:hover .dropdown-content{
    display: block;
}

.sports-bg{
    background: rgb(219, 230, 243);
    padding:50px 0;
    margin-top:20px;
}

.sports-hero{
    width:90%;
    margin:60px auto;
    display:flex;
    align-items:center;
    background:white;
    border-radius:20px;
    overflow:hidden;
    box-shadow:0 5px 20px rgba(0,0,0,0.15);
}

.sports-left{
    padding-top: 10px;
    flex:1;
    padding:40px;
}

.sports-right{
    flex:1;
}

.sports-left h1{
    text-align:center;
    color: navy;
    padding-bottom: 60px;
    padding-top: 10px;
    font-size: 40px;
}

.sports-left p{
    text-align:justify;
}

.sports-left p{
    font-size:18px;
    line-height:1.8;
    text-align:justify;
    color:#444;
}

.sports-right img{
    width:98%;
    height:450px;
    object-fit:cover;
    display:block;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 40px;
}

.collections-section{
    width:90%;
    margin:80px auto;
}

.collection-title{
    text-align:center;
    color:#002053;
    font-size:38px;
    margin-bottom:40px;
}

.tab-buttons{
    display:flex;
    justify-content:center;
    align-items:center;
    background:white;
    border:1px solid #dcdcdc;
    border-radius:8px;
    overflow:hidden;
    margin:40px auto;
    width:95%;
}

.tab-btn{
    flex:1;
    padding:18px 10px;
    border:none;
    border-right:1px solid #dcdcdc;
    background:white;
    color:#002053;
    font-size:15px;
    font-weight:600;
    cursor:pointer;
    transition:0.3s;
}

.tab-btn:last-child{
    border-right:none;
}

.tab-btn:hover{
    background:#f5f5f5;
}

.tab-btn.active{
    background:#002053;
    color:white;
}
.tab-content{
    display:none;
}

.active-content{
    display:block;
}

.topflex-section,
.sportek-section{
    width:90%;
    margin:50px auto;
    display:flex;
    gap:50px;
}

.left-section{
    width:55%;
}

.main-image{
    width:100%;
    height:450px;
    object-fit:cover;
    border-radius:20px;
    cursor:pointer;
}

.thumbs{
    margin-top:20px;
    display:grid;
    grid-template-columns:repeat(5,1fr);
    gap:15px;
}

.thumb{
    text-align:center;
}

.thumb img{
    width:100%;
    height:100px;
    object-fit:cover;
    border-radius:10px;
    cursor:pointer;
}

.thumb p{
    margin-top:5px;
    font-weight:bold;
}

.right-section{
    width:45%;
}

#imagee{
    display: block;
    width: 230px;
    height: 150px;
    margin: 0 auto 20px;
}

.description-box{
    background:#f5f5f5;
    padding:25px;
    border-radius:15px;
}

.description-box p{
    font-size:18px;
    line-height:1.8;
    text-align: center;
}

.section-title{
    margin-top:30px;
    color:#002053;
}

.spec-image{
    width:100%;
    margin-top:20px;
    border-radius:15px;
}

.modal{
    display:none;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.95);
    z-index:9999;
    justify-content:center;
    align-items:center;
    flex-direction:column;
}

.modal-image{
    max-width:80%;
    max-height:75%;
    border-radius:15px;
}

.close{
    position:absolute;
    top:20px;
    right:40px;
    color:white;
    font-size:45px;
    cursor:pointer;
}

.prev,
.next{
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    background:none;
    border:none;
    color:white;
    font-size:60px;
    cursor:pointer;
}

.prev{
    left:40px;
}

.next{
    right:40px;
}

.download-popup{
    margin-top:25px;
    background:#002053;
    color:white;
    padding:12px 30px;
    border-radius:30px;
    text-decoration:none;
    font-weight:bold;
}

.download-popup:hover{
    background:#134596;
}

.modal-image{
    display:block;
    max-width:80%;
    max-height:75vh;
    width:auto;
    height:auto;
    border-radius:15px;
}

.catalogue-box{
    text-align:left;
    margin-top:25px;
}

.catalogue-btn{
    display:inline-block;
    background:#002053;
    color:white;
    text-decoration:none;
    padding:15px 35px;
    border-radius:40px;
    font-size:18px;
    font-weight:bold;
}

.catalogue-btn:hover{
    background:#134596;
}

.next-product-box{
    margin-top:40px;
    text-align:right;
}

.next-btn{
    display:inline-block;
    background:#8B0000;
    color:white;
    text-decoration:none;
    padding:15px 35px;
    border-radius:40px;
    font-size:18px;
    font-weight:bold;
}

.next-btn:hover{
    background:#b22222;
}

.tab-content{
    display:none;
}

.active-content{
    display:block;
}